/*CORES*/
:root {
    --color-black-dark: #1B1B1B;
    --color-black-medio: #434343;
    --color-black-claro: #989898;

    --color-green-dark: #286347;
    --color-green-medio: #488B6C;
    --color-green-claro: #7CBF9F;

    --color-brown-dark: #876755;
    --color-brown-medio: #BA937D;
    --color-brown-claro: #E5D7CF;
}

/*PAGINA POR INTEIRO*/
* {
    margin: 0;
    padding: 0;
    font-family: "Average Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-green-claro);
}

/*SEÇÃO PRINCIPAL*/
.principal {
    background: linear-gradient(rgba(0, 0, 0, 0.363), black);
    position: relative;
    min-height: 100vh;
}

.principal .fundo {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    top: 0px;
}

/*SEÇÃO INDICE*/
.principal .navbar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.principal .logo-nome {
    position: absolute;
    left: 50px;
    top: 5px;
    width: 10%;
    z-index: 10;
}

.principal .nav-links {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    list-style: none;
    padding: 30px 60px 30px 60px;
    font-size: 20px;
    color: white;
    text-shadow: 2px 3px 5px #000000;
    transition: background-color 0.3s ease;
    z-index: 10;
}
.nav-links li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-shadow: 2px 3px 5px #000000;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: var(--color-brown-claro);
    cursor: pointer;
}

.principal .btn-download {
    position: absolute;
    right: 25px;
    text-decoration: none;
    color: white;
    background-color: var(--color-green-dark);
    padding: 7px 20px 8px 20px;
    border-radius: 25px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.principal .btn-download:hover {
    background-color: var(--color-green-claro);
    color: var(--color-black-dark);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/*SEÇÃO CONTEUDO PRINCIPAL*/
.principal .conteudo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.principal .conteudo > h1 {
    position: absolute;
    text-align: center;
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    top: 150px;
    color: white;
    text-shadow: 2px 5px 10px #000000;
    z-index: 1;
}

.principal .foto {
    position: absolute;
    align-items: center;
    width: 25%;
}

.principal .conteudo p {
    position: absolute;
    text-align: center;
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    padding: 0px 15px 10px 15px;
    bottom: 50px;
    background-color: #876755d3;
    color: white;
    text-shadow: 2px 5px 10px #000000;
    border-radius: 60px;
    z-index: 1;
}

/*SEÇÃO SOBRE MIM*/
.sobre{
    text-align: center;
    color: white;
    background-color: var(--color-black-dark);
}  
.sobre .sombra{
    background: linear-gradient(to bottom, rgba(8, 0, 0, 0.5), transparent 50%, transparent 30%, rgba(0, 0, 0, 0.5));
    padding: 50px 100px 50px 100px;
}

.sobre > .sombra > h2{
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    padding-bottom: 20px;
}
.sobre > .sombra > p{
    font-size: 23px;
}

/*SEÇÃO PROJETOS*/
.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-green-dark);
}
.projetos .sombra2{
    background: linear-gradient(to bottom, rgba(8, 0, 0, 0.904), transparent 50%, transparent 50%, rgba(8, 0, 0, 0.904));
    padding: 10px 0px 50px 0px;
    padding-left: 20%;
    padding-right: 20%;
}

.projetos h1 {
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: var(--color-brown-claro);
}

#carouselExampleCaptions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin-top: 30px;
    position: relative;
  }
.carousel-inner{
    border-radius: 30px;
    box-shadow: 0px 0px 10px var(--color-black-dark);
}

#formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px; /* Adicione um espaçamento interno para evitar que o formulário fique espremido */
    background-color: var(--color-brown-dark); /* Cor de fundo harmonizada com o restante do site */
    width: 100%;
}

form {
    background-color: var(--color-brown-dark);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ajuste a sombra para ficar mais visível */
    max-width: 500px; /* Garante que o formulário não seja muito largo */
    min-width: 500px;
    width: 100%; /* Ajuste para telas menores */
}

form .form-label {
    font-weight: bold;
    color: var(--color-black-dark); /* Harmonizado com a paleta de cores */
}

form .btn {
    background-color: var(--color-green-dark);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

form .btn:hover {
    background-color: var(--color-green-medio);
}

/* Estilo do botão voltar ao topo */
#btnTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--color-black-dark);
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: none; /* Inicialmente oculto */
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

#btnTop:hover {
    transform: scale(1.2);
    background-color: var(--color-brown-dark);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
    color: black;
    font-size: 24px;
}

.final {
    text-align: center; /* Centraliza o texto e os itens */
    background: linear-gradient(to bottom, #000000f5, var(--color-green-dark));
    padding: 30px 0px 50px 0px;
}

.final h2 {
    font-family: "Agbalumo", system-ui; /* Utilize a mesma fonte para consistência */
    font-size: 28px;
    color: var(--color-brown-claro);
    margin-bottom: 20px; /* Espaço entre o título e os ícones */
}

.final .social-links {
    display: flex;
    justify-content: center; /* Centraliza os links horizontalmente */
    gap: 20px; /* Espaçamento entre os ícones */
}

.final .social-links a img {
    width: 50px; /* Define um tamanho para os ícones */
    height: 50px; /* Garante proporções iguais */
    transition: transform 0.3s ease; /* Animação ao passar o mouse */
}

.final .social-links a img:hover {
    transform: scale(1.2); /* Aumenta o tamanho do ícone ao passar o mouse */
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 5px 0px 5px 0px;
    font-family: "Average Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Fade-in ao carregar a página */
.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
  }
  
  /* Quando o elemento entra na tela, a classe 'visible' é adicionada */
  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }


  
@media screen and (max-width: 834px) {
    /* Ajustes na navbar */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 20px;
    }

    .nav-links {
        gap: 20px;
        align-items: flex-start;
        font-size: 18px;
    }

    .logo-nome {
        width: 25%;
        top: 10px;
    }

    .btn-download {
        font-size: 18px;
        padding: 7px 15px;
    }

    /* Ajustes na seção principal */
    .principal .conteudo > h1 {
        font-size: 60px;
        top: 100px;
    }

    .principal .foto {
        width: 40%;
    }

    .principal .conteudo p {
        font-size: 35px;
        bottom: 30px;
    }

    /* Ajustes na seção sobre */
    .sobre .sombra {
        padding: 30px 50px;
    }

    .sobre > .sombra > h2 {
        font-size: 45px;
    }

    .sobre > .sombra > p {
        font-size: 20px;
    }

    /* Ajustes na seção projetos */
    .projetos .sombra2 {
        padding-left: 10%;
        padding-right: 10%;
    }

    .projetos h1 {
        font-size: 2.5rem;
    }

    #carouselExampleCaptions {
        width: 100%;
    }

    /* Ajustes no formulário */
    #formulario form {
        max-width: 450px;
    }

    /* Ajustes no botão voltar ao topo */
    #btnTop {
        bottom: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    /* Ajustes no final */
    .final h2 {
        font-size: 24px;
    }

    .final .social-links a img {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 800px) {
    /* Seção Principal */
    .principal .navbar {
        flex-direction: column;
        align-items: flex-end;
        padding: 10px;
    }

    .principal .logo-nome {
        width: 20%;
        left: 50;
        top: 0;
    }

    .principal .nav-links {
        gap: 100px;
        padding: 10px 0;
    }

    .nav-links li a {
        font-size: 18px;
    }

    .principal .btn-download {
        width: 30%;
        position: static;
        text-align: center;
        margin-top: 20px;
    }
    .principal .conteudo > h1 {
        font-size: 40px;
        top: 30%;
    }
}

/* Responsivo para telas de 620px de largura */
@media (max-width: 620px) {
    /* Seção Principal */
    .principal .navbar {
        flex-direction: column;
        align-items: flex-end;
        padding: 10px;
    }

    .principal .logo-nome {
        width: 30%;
        left: 30;
        top: 0;
    }

    .principal .nav-links {
        gap: 50px;
        padding: 10px 0;
    }

    .nav-links li a {
        font-size: 18px;
    }

    .principal .btn-download {
        width: 50%;
        position: static;
        text-align: center;
        margin-top: 20px;
    }

    /* Seção Conteúdo Principal */
    .principal .conteudo {
        flex-direction: column;
        padding: 20px;
    }

    .principal .conteudo > h1 {
        font-size: 40px;
        top: 30%;
    }

    .principal .foto {
        width: 50%;
    }

    .principal .conteudo p {
        font-size: 25px;
        bottom: 20px;
        background-color: rgba(135, 103, 85, 0.8);
        border-radius: 30px;
    }

    /* Seção Sobre Mim */
    .sobre .sombra {
        padding: 20px;
    }

    .sobre > .sombra > h2 {
        font-size: 30px;
    }

    .sobre > .sombra > p {
        font-size: 18px;
    }

    /* Seção Projetos */
    
    .projetos .sombra2 {
        padding: 50px 5%;
    }

    .projetos h1 {
        font-size: 2.5rem;
    }

    #carouselExampleCaptions {
        width: 100%;
    }

    .carousel-inner {
        border-radius: 10px;
    }

    /* Seção Formulário */
    #formulario {
        padding: 20px 10px;
    }

    form {
        max-width: 100%;
        min-width: 100%;
    }

    form .btn {
        padding: 8px;
        font-size: 14px;
    }

    /* Final e Footer */
    .final h2 {
        font-size: 24px;
    }

    .final .social-links a img {
        width: 40px;
        height: 40px;
    }

    footer {
        font-size: 14px;
    }

    /* Botão Voltar ao Topo */
    #btnTop {
        width: 40px;
        height: 40px;
        font-size: 18px;
        bottom: 10px;
        right: 10px;
    }
}

/* Responsivo para telas de 460px de largura */
@media (max-width: 460px) {
    /* Seção Principal */
    .principal .navbar {
        flex-direction: column;
        align-items: flex-end;
        padding: 8px;
    }

    .principal .logo-nome {
        width: 30%;
        left: 0;
        top: 0;
    }

    .principal .nav-links {
        gap: 50px;
        padding: 10px 0;
    }

    .nav-links li a {
        font-size: 16px;
    }

    .principal .btn-download {
        width: 50%;
        position: static;
        text-align: center;
        margin-top: 0px;
    }

    /* Seção Conteúdo Principal */
    .principal .conteudo {
        flex-direction: column;
        padding: 15px;
    }

    .principal .conteudo > h1 {
        font-size: 30px;
        top: 30%;
    }

    .principal .foto {
        width: 70%;
    }

    .principal .conteudo p {
        font-size: 20px;
        bottom: 20px;
        background-color: rgba(135, 103, 85, 0.8);
        border-radius: 30px;
    }

    /* Seção Sobre Mim */
    .sobre .sombra {
        padding: 15px;
    }

    .sobre > .sombra > h2 {
        font-size: 24px;
    }

    .sobre > .sombra > p {
        font-size: 16px;
    }

    /* Seção Projetos */
    .projetos .sombra2 {
        padding: 25px 5%;
    }

    .projetos h1 {
        font-size: 2rem;
    }

    #carouselExampleCaptions {
        width: 100%;
    }

    .carousel-inner {
        border-radius: 10px;
    }

    /* Seção Formulário */
    #formulario {
        padding: 15px 10px;
    }

    form {
        max-width: 100%;
        min-width: 100%;
    }

    form .btn {
        padding: 8px;
        font-size: 12px;
    }

    /* Final e Footer */
    .final h2 {
        font-size: 20px;
    }

    .final .social-links a img {
        width: 35px;
        height: 35px;
    }

    footer {
        font-size: 12px;
    }

    /* Botão Voltar ao Topo */
    #btnTop {
        width: 35px;
        height: 35px;
        font-size: 14px;
        bottom: 10px;
        right: 10px;
    }
}
